*{
    margin: 0%;
    padding: 0%;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: #202020;
    display: grid;
    align-items: center;
    justify-content: center;
    
} 
.calculator{
    background: #303030;
    padding: 20px;
    border-radius: 10px;
    
}

.calculator form input{
   
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    position: relative;
    background: linear-gradient(180deg, #2f2f2f, #3f3f3f);
    box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
    inset 0 -8px 8px rgba(0, 0, 0, 0.25), 0 0 0 2px rgba(0, 0, 0, 0.75),
    10px 20px 25px rgba(0, 0, 0, 0.4);
}
form .display{
    display: flex;
    
    
    
}

form .display input{
    margin: 20px 0;
    text-align: right;
    flex: 1;
    font-size: 45px;
    color: #202020;
    background: #a7af7c;
}
/* tried to cover the space of plus button vertically*/
/* form input.plus{
    grid-row: span 2;
    height: 145px;
} */

form input.cancel{
    background: #f00;
    width: 145px;
}
form input.equal{
    background: #2196f3;
}
